@model Student
<h1>Here are the results</h1>
<h2>Name: @Model.Name</h2>
<h2>Location: @Model.Location</h2>
<h2>Favorite Language: @Model.FavoriteLanguage</h2>
<h2>Comment: @Model.Comment</h2>
<a href="/" class="btn btn-warning">Go Back</a>