<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    @model Student
    <h1>Here are the results</h1>
    <h2>Name: @Model.Name</h2>
    <h2>Location:@Model.Location</h2>
    <h2>Favorite Language: @Model.FavoriteLanguage</h2>
    <h2>Comment: @Model.Comment</h2>
    <a href="/" class="btn btn-warning">Go Back</a>
</body>

</html>