@model Dish 


<div class="text-center mt-5">

    <h1> Edit @Model.Name</h1>
    <div class="fs-5 mt-5">
        <a href="/">home</a>
        |
        <a href="dishes/new">add a Dish</a>
    </div>
</div>
<div class="mt-5 mx-auto col-7 fs-5">
    <form asp-action="UpdateDish" asp-route-dishId="@Model.DishId">
        <div class="d-flex p-2 gap-5">
            <div class="">
                <div class="form-group">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control ">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-5" >
                    <label asp-for="Chef" class="form-label"></label>
                    <input asp-for="Chef" class="form-control">
                    <span asp-validation-for="Chef" class="text-danger"></span>
                </div>
                <div class="form-group mt-5">
                    <label asp-for="Calories" class="form-label"></label>
                    <input asp-for="Calories" class="form-control">
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex gap-5">
                <div>
                    <label asp-for="Tastiness" class="form-label"></label>
                    <select asp-for="Tastiness" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                @* <div class="form-group">
                    <label asp-for="Tastiness" class="form-label"></label>
                    <input asp-for="Tastiness" class="form-control">
                    <span asp-validation-for="Tastiness" class="text-danger"></span>
                </div> *@
                <div>
                    <div class="form-group">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="30" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Edit Dish" class="btn btn-primary mt-3 align-self-end">
                </div>
            </div>
        </div>

    </form>
</div>