@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center mt-5">

    <h1>Welcome to CRUDelicious</h1>
    <div class="fs-5">
        <a href="/">home</a>
        |
        <a href="dishes/new">add a Dish</a>
    </div>
</div>
<div>
    <h2>Check out some recent dishes</h2>
    <hr>
    @foreach(Dish d in Model)
    {
        <h4> <a asp-action="DishById" asp-route-dishId="@d.DishId">@d.Name</a> by @d.Chef</h4>
    }
</div>
