@model User
<div class="text-center">
    <div class="fs-4 mb-3">
        <a href="/">Message</a>
        <span> | </span>
        <a href="/numbers">Numbers</a>
        <span> | </span>
        <a href="/user">User</a>
        <span> | </span>
        <a href="/users">Users</a>
    </div>
    <div>
        <h1>Here is a User</h1>
        <h3>@Model.FirstName @Model.LastName</h3>

    </div>
</div>