@model Dish


<div lass="text-center ">
    <div class="mt-5 mx-auto col-5 fs-4">
        <a href="/">Chefs</a>
        |
        <a href="/dishes">Dishes</a>
        |
        <a href="/chefs/new">Add a Chef</a>
        |
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <h1 class="mt-5 mx-auto col-3 "> Add a Dish</h1>
    <hr>
    <div class="mt-5 mx-auto col-5 fs-5">
        <form asp-action="AddDish">
            <div class="d-flex p-2 gap-5">
                <div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Calories" class="form-label"></label>
                        <input asp-for="Calories" class="form-control">
                        <span asp-validation-for="Calories" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex gap-5">
                    <div>
                        <label asp-for="ChefId" class="form-label"> Chef</label>
                        <select asp-for="ChefId" class="form-select">
                            <option value=null>--------Select Chef--------</option>
                            @foreach (var o in ViewBag.ChefsDish)
                            {
                                <option value="@o.ChefId">@o.FirstName</option>

                            }

                        </select>
                        <span asp-validation-for="ChefId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tastiness" class="form-label"></label>
                        <input asp-for="Tastiness" class="form-control">
                        <span asp-validation-for="Tastiness" class="text-danger"></span>
                        <input type="Submit" value="Add Dish" class="btn btn-info mt-3">
                    </div>

                </div>

            </div>
        </form>
        
    </div>