<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        |
        <a href="/projects">Projects</a>
        |
        <a href="/contact">Contact</a>
    </div>
    
    <h1 class="center">Contact Me!</h1>
    <form action="" class="form">
        <div class="group">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="">
        </div>
        <div class="group">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="">
        </div>
        <div class="group">
            <label for="Message">Message</label>
            <textarea name="Message" id="" cols="39" rows="5"></textarea>
        </div>
        <input type="submit" value="Send" class="submit">
    </form>

    
</body>
</html>