<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        |
        <a href="/projects">Projects</a>
        |
        <a href="/contact">Contact</a>
    </div>
    <div class="container">
        <h1 class="center">My Projects</h1>
        <div class="projects">
            <div class="project">
                <img src="~/images/project1.jpeg" alt="project1" class="projectimg">
                <div>
                    <h2>Project 1</h3>
                    <h4>dsjsjhsgdsdqshsjdsd</h4>
                </div>
                
            </div>
            <div class="project">
                <img src="~/images/project2.webp" alt="project2" class="projectimg">
                <div>
                    <h2>Project 2</h3>
                    <h4>sdfdsfdsfdsfdsfdsfsdfdsfdsfsd</h4>
                </div>
                
            </div>
            <div class="project">
                <img src="~/images/project3.png" alt="project3" class="projectimg">
                <div>
                    <h2>Project 3</h3>
                    <h4>sdfsfdsffffffdfszzzzz</h4>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>